<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myproject.intern.mapper.SalesOrderMapper">
    <insert id="create" useGeneratedKeys="true" keyProperty="order_id">
        INSERT INTO sales_order(supermarket_id, product_id, number)
        VALUES (#{supermarketId},#{productId},#{number});
    </insert>

    <update id="update" parameterType="SalesOrder">
        UPDATE sales_order SET supermarket_id=#{supermarketId}, product_id=#{productId},
        number=#{number} WHERE order_id=#{orderId}
    </update>

    <!--<delete id="delete">-->
        <!--DELETE FROM sales_order WHERE product_id = #{productId};-->
    <!--</delete>-->

    <sql id="select">
        SELECT A.order_id as orderId, A.supermarket_id as supermarketId, A.product_id as productId, A.number,
        B.product_name as productName, B.price, B.sales_price as salesPrice, A.create_time as createTime from sales_order A,
         product B WHERE A.product_id=B.product_id
    </sql>

    <select id="getAll" resultType="SalesOrder">
        <include refid="select"/>
    </select>

    <select id="get" resultType="SalesOrder">
        <include refid="select"/>
        and A.order_id=#{orderId}
    </select>

    <select id="getBySupermarketId" resultType="SalesOrder">
        <include refid="select"/>
        and A.supermarket_id=#{supermarketId}
    </select>

    <select id="getBySupermarketIdAndTimePeriod" resultType="SalesOrder">
        <include refid="select"/>
        and A.supermarket_id=#{supermarketId} and A.create_time BETWEEN #{startTime} AND #{endTime}
    </select>


</mapper>