<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myproject.mapper.commodity.CenterPurchaseOrderMapper">
    <insert id="create" useGeneratedKeys="true" keyProperty="f_id">
        INSERT INTO t_center_purchase(f_center_id, f_supplier_id, f_commodity_id, f_number, f_price, f_status)
        VALUES (#{centerId}, #{supplierId}, #{commodityId}, #{number}, #{price}, #{status});
    </insert>

    <update id="update" parameterType="CenterPurchaseOrder">
        UPDATE t_center_purchase SET f_center_id=#{centerId}, f_commodity_id=#{commodityId}, f_supplier_id=#{supplierId},
         f_price=#{price}, f_number=#{number}, f_status=#{status} WHERE f_id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM t_center_purchase WHERE f_id = #{id};
    </delete>

    <sql id="select">
        SELECT A.f_id as id, A.f_center_id as centerId, A.f_commodity_id as commodityId, A.f_supplier_id as supplierId,
        B.f_name as centerName, C.f_name as commodityName, D.f_name as supplierName,A.f_price as price, A.f_number as number,
         A.f_status as status, A.f_create_time as createTime, A.f_update_time as updateTime from t_center_purchase A,
          t_distribution_center B, t_commodity C, t_supplier D WHERE A.f_center_id=B.f_id and A.f_commodity_id=C.f_id
          and A.f_supplier_id=D.f_id
    </sql>

    <select id="getAll" resultType="CenterPurchaseOrder">
        <include refid="select"/>
    </select>

    <select id="get" resultType="CenterPurchaseOrder">
        <include refid="select"/>
        and A.f_id=#{id}
    </select>
</mapper>