<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myproject.mapper.commodity.MarketInventoryMapper">
    <insert id="create" useGeneratedKeys="true" keyProperty="f_id">
        INSERT INTO t_market_inventory(f_market_id, f_commodity_id, f_number) VALUES (#{marketId}, #{commodityId},
        #{number});
    </insert>

    <update id="update" parameterType="MarketInventory">
        UPDATE t_market_inventory SET f_market_id=#{marketId}, f_commodity_id=#{commodityId}, f_number=#{number} WHERE f_id=#{id}
    </update>

    <sql id="select">
        SELECT A.f_id as id, A.f_market_id as marketId, A.f_commodity_id as commodityId,
        B.f_name as commodityName, A.f_number as number from t_market_inventory A, t_commodity B
        WHERE A.f_commodity_id=B.f_id
    </sql>

    <select id="getAll" resultType="MarketInventory">
        <include refid="select"/>
    </select>

    <select id="get" resultType="MarketInventory">
        <include refid="select"/>
        and A.f_id=#{id}
    </select>

    <select id="getByMarketIdAndCommodityId" resultType="MarketInventory">
        <include refid="select"/>
        and A.f_market_id=#{marketId} and A.f_commodity_id=#{commodityId}
    </select>

</mapper>