<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myproject.mapper.commodity.SupplierDeliveryOrderMapper">
    <insert id="create" useGeneratedKeys="true" keyProperty="f_id">
        INSERT INTO t_supplier_delivery(f_purchase_id, f_status)
        VALUES (#{purchaseId}, #{status});
    </insert>

    <update id="update" parameterType="SupplierDeliveryOrder">
        UPDATE t_supplier_delivery SET f_purchase_id=#{purchaseId},f_status=#{status} WHERE f_id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM t_supplier_delivery WHERE f_id = #{id};
    </delete>

    <sql id="select">
        SELECT A.f_id as id, A.f_purchase_id as purchaseId, B.f_name as centerName, C.f_name as commodityName, D.f_name as supplierName,
         B.f_id as centerId, C.f_id as commodityId, D.f_id as supplierId, E.f_number as number, E.f_price as price,
         A.f_status as status, A.f_create_time as createTime, A.f_update_time as updateTime
         from t_supplier_delivery A,t_center_purchase E,
          t_distribution_center B, t_commodity C, t_supplier D WHERE A.f_purchase_id=E.f_id and E.f_commodity_id=C.f_id
          and E.f_supplier_id=D.f_id and E.f_center_id=B.f_id
    </sql>

    <select id="getAll" resultType="SupplierDeliveryOrder">
        <include refid="select"/>
    </select>

    <select id="get" resultType="SupplierDeliveryOrder">
        <include refid="select"/>
        and A.f_id=#{id}
    </select>

</mapper>