<div ng-controller="distributionCenterController" ng-init="tab='tab_center'">
    <div class="panel">
        <div class="panel-heading">
              <span class="panel-title">
                Center</span>
        </div>

        <div class="panel-heading">
            <ul class="nav panel-tabs-border panel-tabs panel-tabs-left">
                <li ng-class="{true:'active',false:''}[tab=='tab_center']">
                    <a href="javascript:void(0)" data-toggle="tab" data-target="#tab_center"
                       ng-click="tab='tab_center'">center</a>
                </li>
                <li ng-class="{true:'active',false:''}[tab=='tab_commodity']">
                    <a href="javascript:void(0)" data-toggle="tab" data-target="#tab_commodity"
                       ng-click="tab='tab_commodity'">Commodity</a>
                </li>
                <li ng-class="{true:'active',false:''}[tab=='tab_city']">
                    <a href="javascript:void(0)" data-toggle="tab" data-target="#tab_city"
                       ng-click="tab='tab_city'">City</a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content pn br-n">
                <div id="tab_center" class="tab-pane" ng-class="{true:'active',false:''}[tab=='tab_center']">
                    <form class="form-inline" role="form" style="padding-bottom: 10px;">
                        <div class="form-group">
                            <label class="control-label label-sm">Name:</label>
                            <input class="form-control input-sm" type="text" ng-model="centerSearch.name"/>
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm"
                                ng-click="createCenter()">
                            <i class="fa fa-plus"></i>
                            New
                        </button>
                    </form>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>City Id</th>
                            <th>Address</th>
                            <th>Operation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in centers|filter:centerSearch">
                            <td>{{$index+1}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.cityId}}</td>
                            <td>{{item.address}}</td>
                            <td>
                                <button type="button" class="btn btn-xs btn-danger" ng-click="deleteCenter(item)">
                                    <i class="fa fa-remove"></i></button>
                                <button type="button" class="btn btn-xs btn-info" ng-click="editCenter(item)">
                                    <i class="fa fa-edit"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>




        <!--create or edit the center-->
        <div id="centerModal" class="popup-basic mfp-hide admin-form">
            <div class="panel">
                <div class="panel-heading">
              <span class="panel-title">
                  center Config
              </span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-9">
                                <input class="form-control input-sm" type="text" ng-model="center.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Country Name</label>
                            <div class="col-sm-9">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle"
                                            data-toggle="dropdown" style="background-color: #FEFEFE">
                                        {{center.countryName}}
                                        <span class="caret ml5"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="countryName in center.countryNames"
                                            ng-click="selectConfigType(center,'countryName',countryName);getStateNamesByCountry(center)">
                                            <a href="javascript:void(0)">
                                                {{countryName}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">State Name</label>
                            <div class="col-sm-9">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle"
                                            data-toggle="dropdown" style="background-color: #FEFEFE">
                                        {{center.stateName}}
                                        <span class="caret ml5"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="stateName in center.stateNames"
                                            ng-click="selectConfigType(center,'stateName',stateName);getCityNamesByState(center)">
                                            <a href="javascript:void(0)">
                                                {{stateName}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">City Name</label>
                            <div class="col-sm-9">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle"
                                            data-toggle="dropdown" style="background-color: #FEFEFE">
                                        {{center.cityName}}
                                        <span class="caret ml5"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="cityName in center.cityNames"
                                            ng-click="selectConfigType(center,'cityName',cityName)">
                                            <a href="javascript:void(0)">
                                                {{cityName}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer text-right">
                    <button type="button" class="btn btn-sm btn-info" ng-click="saveCenter(center)"
                            ng-disabled="!center.name || !center.cityName">
                        <span class="fa fa-save pr3"></span>Save</button>
                </div>
            </div>
        </div>
    </div>
</div>