<!--<div ng-controller="marketInventoryController" ng-init="tab='tab_market_inventory'">-->
    <!--<div class="panel">-->
        <!--<div class="panel-heading">-->
              <!--<span class="panel-title">-->
                <!--Market</span>-->
        <!--</div>-->

        <!--<div class="panel-heading">-->
            <!--<ul class="nav panel-tabs-border panel-tabs panel-tabs-left">-->
                <!--<li ng-class="{true:'active',false:''}[tab=='tab_market_inventory']">-->
                    <!--<a href="javascript:void(0)" data-toggle="tab" data-target="#tab_market_inventory"-->
                       <!--ng-click="tab='tab_market_inventory'">Market Inventory</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="panel-body">-->
            <!--<div class="tab-content pn br-n">-->
                <!--<div id="tab_market_inventory" class="tab-pane" ng-class="{true:'active',false:''}[tab=='tab_market_inventory']">-->
                    <!--<form class="form-inline" role="form" style="padding-bottom: 10px;">-->
                        <!--<div class="form-group">-->
                            <!--<label class="control-label label-sm">Name:</label>-->
                            <!--<input class="form-control input-sm" type="text" ng-model="inventorySearch.name"/>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;<button type="submit" class="btn btn-primary btn-sm"&ndash;&gt;-->
                                <!--&lt;!&ndash;ng-click="createCenter()">&ndash;&gt;-->
                            <!--&lt;!&ndash;<i class="fa fa-plus"></i>&ndash;&gt;-->
                            <!--&lt;!&ndash;New&ndash;&gt;-->
                        <!--&lt;!&ndash;</button>&ndash;&gt;-->
                    <!--</form>-->
                    <!--<table class="table table-bordered table-hover">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>#</th>-->
                            <!--<th>Id</th>-->
                            <!--<th>Market Id</th>-->
                            <!--<th>Commodity Id</th>-->
                            <!--<th>Commodity Name</th>-->
                            <!--<th>Number</th>-->
                            <!--<th>Operation</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr ng-repeat="item in marketInventories|filter:inventorySearch">-->
                            <!--<td>{{$index+1}}</td>-->
                            <!--<td>{{item.id}}</td>-->
                            <!--<td>{{item.MarketId}}</td>-->
                            <!--<td>{{item.commodityId}}</td>-->
                            <!--<td>{{item.commodityName}}</td>-->
                            <!--<td>{{item.number}}</td>-->
                            <!--<td>-->
                                <!--&lt;!&ndash;<button type="button" class="btn btn-xs btn-danger" ng-click="deleteCenter(item)">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<i class="fa fa-remove"></i></button>&ndash;&gt;-->
                                <!--&lt;!&ndash;<button type="button" class="btn btn-xs btn-info" ng-click="editCenter(item)">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<i class="fa fa-edit"></i></button>&ndash;&gt;-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->