<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myproject.mapper.district.CountryMapper">
    <insert id="create" useGeneratedKeys="true" keyProperty="f_id">
        INSERT INTO t_country(f_name) VALUES (#{name});
    </insert>

    <update id="update" parameterType="Country">
        UPDATE t_country SET f_name=#{name} WHERE f_id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM t_country WHERE f_id = #{id};
    </delete>

    <sql id="select">
        SELECT f_id as id, f_name as name from t_country
    </sql>

    <select id="getAll" resultType="Country">
        <include refid="select"/>
    </select>

    <select id="get" resultType="Country">
        <include refid="select"/>
        WHERE f_id=#{id}
    </select>

    <select id="findIdByName" resultType="Integer">
        SELECT f_id from t_country WHERE f_name=#{name}
    </select>
</mapper>