<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myproject.mapper.district.StateMapper">
    <insert id="create" useGeneratedKeys="true" keyProperty="f_id">
        INSERT INTO t_state(f_name, f_country_id) VALUES (#{name}, #{countryId});
    </insert>

    <update id="update" parameterType="State">
        UPDATE t_state SET f_name=#{name}, f_country_id=#{countryId} WHERE f_id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM t_state WHERE f_id = #{id};
    </delete>

    <sql id="select">
        SELECT A.f_id as id, A.f_name as name, A.f_country_id as countryId,
         B.f_name as countryName from t_state A, t_country B WHERE A.f_country_id=B.f_id
    </sql>

    <select id="getAll" resultType="State">
        <include refid="select"/>
    </select>

    <select id="get" resultType="State">
        <include refid="select"/>
        WHERE A.f_id=#{id}
    </select>

    <select id="findIdByName" resultType="Integer">
        SELECT f_id from t_state WHERE f_name=#{name}
    </select>

    <select id="getByCountryId" resultType="State">
        <include refid="select"/>
        and B.f_id = #{id}
    </select>
</mapper>